# Advent of Code 2022!

# Day 1

In [18]:
# Day 1: Calorie Counting

import numpy as np
import pandas as pd

# read in the file
f = open('data/1_1.csv')
fl = f.readlines()
f.close()

fl = [f.strip('\n') for f in fl]

# Make a running total of calories. 
# When we finish an elf, append their running total to our list
# Elves are separated by blank lines, ('' == end of elf)
n_elf = 0
elf_amounts = []
elf_tot = 0
for f in fl:
    if f == '':
        n_elf += 1
        elf_amounts.append(elf_tot)
        elf_tot = 0
    else:
        elf_tot += int(f)
# make sure the last calorie count is added
elf_amounts.append(elf_tot)

In [19]:
np.max(elf_amounts)

68787

In [20]:
# Now find the sum of the top three

# throw the values into a pandas DataFrame
elfs = pd.DataFrame({'calories': elf_amounts})
# sort by value, take the last three, and sum them up
elfs.sort_values('calories').iloc[-3:,].sum()

calories    198041
dtype: int64

# Day 2

In [3]:
import numpy as np
import pandas as pd

df = pd.read_csv('data/2_1.dat', sep=' ', header=None)
df

      0  1
0     C  Z
1     C  Y
2     B  X
3     A  Z
4     C  Z
...  .. ..
2495  B  Z
2496  C  Y
2497  A  Z
2498  A  Z
2499  B  Y

[2500 rows x 2 columns]

In [5]:
df.iloc[0,1]

'Z'

In [23]:
def score(row):
    if row[1] == 'X':
        val = 1
        if row[0] == 'C':
            win = 6
        elif row[0] == 'A':
            win = 3
        else:
            win = 0
    elif row[1] == 'Y':
        val = 2
        if row[0] == 'A':
            win = 6
        elif row[0] == 'B':
            win = 3
        else:
            win = 0
    if row[1] == 'Z':
        val = 3
        if row[0] == 'B':
            win = 6
        elif row[0] == 'C':
            win = 3
        else:
            win = 0
    return win + val

# given A (rock), B (paper), or C (scissors)
# return the number corresponding to the loss
def score_loss(target):
    if target == 'A':
        return 3
    elif target == 'B':
        return 1
    else:
        return 2

# given A (rock), B (paper), or C (scissors)
# return the number corresponding to the win
def score_win(target):
    if target == 'A':
        return 2
    elif target == 'B':
        return 3
    else:
        return 1

def score2(row):
    if row[1] == 'X':
        win = 0
        val = score_loss(row[0])
    elif row[1] == 'Y':
        win = 3
        if row[0] == 'A':
            val = 1
        elif row[0] == 'B':
            val = 2
        else:
            val = 3
    else:
        win = 6
        val = score_win(row[0])
    return win + val

In [26]:
scores = []
for row_id in range(df.shape[0]):
    scores.append(score(df.iloc[row_id,]))
np.sum(scores)

9241

In [24]:
scores2 = []
for row_id in range(df.shape[0]):
    scores2.append(score2(df.iloc[row_id,]))
np.sum(scores2)

14610